/* Generic */

:root
{
    --green-monkey: #8ddca2;
    --mint-monkey: #b6ffda;
}

a 
{
    color: #4ee298;
}

a:hover 
{
    color: #0b6d3c;
    text-decoration: underline;
}

body 
{
    background: linear-gradient(to bottom, #1e1e1e, #424242);
    color: #F2F2F2;
}

@font-face 
{
    font-family: "Modern-Sans-Light";
    src: url("fonts/Modern_Sans_Light.otf");
}

.modernSanslight, p, li
{
    font-family: 'Modern-Sans-Light';  
}

@font-face 
{
    font-family: 'Quantify-Bold';
    src:  
    url('fonts/Quantify-Bold.ttf.woff') format('woff'),
    url('fonts/Quantify-Bold.ttf.svg#Quantify-Bold') format('svg'),
    url('fonts/Quantify-Bold.ttf.eot'),
    url('fonts/Quantify-Bold.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.arial
{
    font-family: Arial;
}

ul 
{
    list-style-type: disc;
}

.skillsList 
{
    list-style-type: none;
    margin-left: -12%;
}

.quantifyBold, h1, h2, h3, h4
{
    font-family: 'Quantify-Bold';  
}

.container-fluid 
{
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 9rem;
}

.articleMargins
{
    /*TOP/BOTTOM LEFT/RIGHT*/
    margin: 1% 3%;
}

.lastSection
{
    padding-bottom: 3rem;
}

.row
{
    background: #191919;
}

.puffed
{
    padding: 2em;
}

/* Menu */

.bg-dark 
{
    background-color: #131313!important;
}

.navbar-fixed-top
{
    position: fixed;
    z-index: 10000;
    width: 100%;
}

.logo
{
    height: 5rem;
}

.menuItem
{
    font-family: 'Modern-Sans-Light';
    font-size: 1.2rem !important;
}

@media (min-width: 576px) 
{
    .navbar-expand-sm .navbar-nav .nav-link 
    {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.nebula
{
    position: absolute;
    top: 100%;
    left: 0px;
    height: 10px;
    width: 100%;
    background-image: url("../images/background.jpg");
}

.lineBreak
{
    width: 80%;
    border-bottom: 1px solid #F2F2F2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

/* Footer */

#footer 
{
    margin-top: 0.5%;
}

.arr
{
    font-size: 9pt;
    width: 40%;
    text-align: center;
    margin: auto;
}

/* About Me */

.mainPageLink
{
    width: 100%;
    height: 3rem;
    background: #363636;
    text-align: center;
    line-height: 0;
    padding: 2rem;
    /* Top/Bottom Right/Left*/
    margin: 1rem 0;
    user-select: none;
    border-radius: 7px;
}

.mainPageLink:hover
{
    background: #2c2c2c;
    transform: scale(1.1);
    transition-timing-function: cubic-bezier(.75,-0.5,0,1.75);
    color: var(--green-monkey);
}

/* Resume */

.resumeButton
{
    width: 16rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name
{
    color: var(--green-monkey);
    font-size: 4rem !important;
}

.subTitle
{
    color: var(--green-monkey);
    font-size: 2.5rem !important;
}

.subSection
{
    color: var(--green-monkey);
    padding-bottom: 1.5%;
    border-bottom: 1px #cdcfd2 solid;
}

.highlighted
{
    color: var(--mint-monkey);
}

/* UX Portfolio */


#buttonGrid
{
    padding: 1rem;
}

.contentButton, .backToTopButton
{
    width: 100%;
    height: 80%;
    background: #363636;
    text-align: center;
    line-height: 0.7;
    padding: 2rem;
    /* Top/Bottom Right/Left*/
    margin: 1rem 0;
    user-select: none;
    border-radius: 7px;
}

.contentButton:hover
{
    background: #2c2c2c;
    transform: scale(1.1);
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(.75,-0.5,0,1.75);
    color: var(--green-monkey);
}

.backToTopButton:hover
{
    background: #2c2c2c;
}

.project
{
    position: relative;
    height: 100rem;
    margin-top: 2rem;
    border: none;
    background: #191919;
}

.portfolio
{
    background: #1e1e1e;
    padding: 0;
    line-height: 1.2rem;
}

.poofed
{
    width: 100%;
    padding: 2em;
    margin: 0;
}

.underConstruction
{
    color: #f8fdba;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.underConstructionIcon
{
    width: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contactAndFeedback
{
    text-align: center;
}

@media only screen and (max-width: 475px) 
{
    .stringGlitch
    {
        font-size: 0.9rem;
    }
}

.incomplete
{
    opacity: 0.8;
}

.sketch
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35rem;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sketch:hover
{
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

@media only screen and (max-width: 700px) 
{
    .sketch
    {
        width: 20rem;
    }
}

@media only screen and (max-width: 430px) 
{
    .sketch
    {
        width: 16rem;
    }
}

@media only screen and (max-width: 330px) 
{
    .sketch
    {
        width: 14rem;
    }
}

.zoomed
{
    width: 100%;
    z-index: 1000;
    display: float;
}

.caption
{
    text-align: center;
    font-style: italic;
}

/* Custom Scrollbar */

::-webkit-scrollbar 
{
    width: 0.7rem;
}

::-webkit-scrollbar-track 
{
    background: #F2F2F2; 
}

::-webkit-scrollbar-thumb 
{
    background: #363636; 
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover 
{
    background: #2c2c2c;
}